<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.rpm_project">

    <!-- 필요한 권한들 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <!-- 카메라 관련 feature -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RPM_project"
        tools:targetApi="31">

        <!-- 기존의 액티비티들 -->

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity android:name=".SignupActivity" />
        <!-- 다른 activity들도 여기에 정의 -->
        <!-- CameraActivity 추가 -->
        <activity android:name=".TicketActivity"
            android:exported="true">
            <!-- 필요한 경우 intent-filter 추가 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MemberActivity"
            android:clickable="true" />

        <activity android:name=".QRScanActivity"
            android:exported="true"
            android:screenOrientation="portrait"> <!-- portrait: 세로 방향, landscape: 가로 방향 -->
            <!-- Intent-filter 설정 (필요에 따라) -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".CodeInputActivity"
            android:exported="true">
            <!-- Intent-filter 설정 (필요에 따라) -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".RegisterPersonActivity">
            <!-- 필요한 경우 인텐트 필터도 추가할 수 있습니다 -->
        </activity>
        <activity
            android:name=".CameraActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:exported="true"
            tools:ignore="DuplicateActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- 필요한 경우 인텐트 필터도 추가할 수 있습니다 -->
        </activity>
        <activity
            android:name=".RideSelectionActivity"
            android:label="Ride Selection Activity(android)"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".RideSelectionWebActivity"
            android:label="Ride Selection Activity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
